body {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    background: #f5f7fa;
}

h2 {
    margin-top: 20px;
}

input[type="file"] {
    margin: 10px;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
}

td, th {
    border: 1px solid #999;
    width: 80px;
    height: 40px;
    text-align: center;
}

th {
    background-color: #eaeaea;
    font-weight: bold;
}

td:hover {
    background-color: #d0ebff;
}

input {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    outline: none;
    background: transparent;
}
td {
    background-color: white;
}
